//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    }
}


//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

@import 'fonts.scss';
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Lato";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw:1100;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {

}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: 1130px;
	padding: 0 15px;
	margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
// @import "forms.scss";
// @import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
// @import "popup.scss";
@import "header.scss";
@import "forms.scss";
@import "footer.scss";
// @import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.ibg{

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	}
	
	.ibg img{
	
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	}


.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}
.main-screen {
	flex: 1 0 100%;
	position: relative;

		&__bg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
}

.content {
}

.generation {
	padding: 120px 0;
	background-color: #f7f7f7;
	
	&__block {
	}

	@media (max-width: 900px) {
		padding: 80px 0;
	}	

	@media (max-width: 600px) {
		padding: 30px 0;
	}	
}

.block {
	text-align: center;

		&__icon {
			margin: 0px 0px 33px 0px;
		}

		&__title {
			color: #353738;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 3.6px;
			margin: 0 0 18px 0;
			line-height: 24px;

		}

		&__text {
			color: #848789;
			font-size: 18px;
			font-weight: 400;
			line-height: 34px;
			&_j {
				text-align: justify;
				font-size: 16px;
				line-height: 34px;
				&:after {
					content: "";
					display: block;
					margin: 35px auto 0 auto;
					width: 50px;
					height: 1px;
					background-color: #e1e1e1;
				}
			}
		}
		@media(max-width:1500px) {
			&__text {
				&_j {
					&:after {
						margin: 15px auto 0 auto;
					}
				}
			}
		}	
}

//====================================================================================================

.brands {

	&__row {
		@include flexbox;
	}

	&__column {
		flex: 0 1 33.333%;

		&_b {
			flex: 0 1 66.667%;
		}
	}

	&__item {
	}

	&__content {
		padding: 70px 65px 55px 65px;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			bottom:-10px;
			left: 50%;
			margin: 0px 0px 0px -10px;
			//заготовка стрелки
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
			//конец заготовки стрелки
		}
	}

	&__image {
		padding: 0 0 37.51% 0;
	}
	
	@media(max-width:1500px) {
		&__content{		
			padding: 40px 35px 25px 35px;
		}
	@media(max-width:1100px) {
		&_last {
			.brands__column {
				&:nth-child(1){@include flexorder(2);}
				&:nth-child(2){@include flexorder(1);}
				&:nth-child(3){@include flexorder(3);}
			}
		}
		&__row {
			flex-direction: column;
		}
	}

	}
	&_last {}
}

.item {
	height: 100%;
	display: block;
	position: relative;

	&__logo {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include flexbox;
		flex-direction: column;
		@include anim(0.3s, 0);
		justify-content: center;
		align-items: center;
		background-color: rgba(100,194,158,0.5);	
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		
		span {
			margin: 10px 0 0 0;
			color: #ffffff;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 2.8px;
		}
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&:hover {
		.item__logo {
			visibility: visible;
			opacity: 1;
		}
	}
	
	@media(max-width:1100px) {
		height: auto;
		padding: 0 0 70% 0;		
	}
}

//====================================================================================================

.slider {
	background-color: #f7f7f7;
	padding: 120px 0 60px 0;

	&__body {
	}

	&__item {
		text-align: center;
	}

	&__icon {
		margin: 0 0 35px 0;
	}

	&__title {
		margin: 0 0 20px 0;	
		color: #353738;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1.8px;
		& span {
			color: #848789;
			font-weight: 300;
			letter-spacing: 1.8px;
		}
	}

	&__text {
		color: #848789;
		font-size: 24px;
		font-style: italic;
		line-height: 34px;
	
	}
	@media(max-width:1500px) {
		    padding: 40px 35px 25px 35px;
		}
	@media(max-width:769px) {
		&__title {
			line-height: 34px;
		}
		&__text {
			font-size: 18px;
			
		}
	}
}
.slick-slider{
	position: relative;
	.slick-track,.slick-list {}
	.slick-list{overflow: hidden;}
	.slick-track{@include flexbox();align-items: flex-start;}
	.slick-slide{}
	.slick-dots{
		@include flexbox;
		justify-content: center;
		align-items: center;
		li{
			button{
				font-size: 0;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				border: 1px solid #c8c8c8;
				background:transparent;
				margin: 100px 9px 0 0;
			}
			&.slick-active{
				button{
					background-color: #282f35;
				}
			}
		}
	}
	@media(max-width:769px) {
		.slick-dots{
			& li{
				& button {
					margin: 50px 9px 0 0;
				}
			}
			
		}
	}
}

//====================================================================================================

.shop {

	&__body {
		@include flexbox;

	}

	&__column {
		flex: 0 1 16.666%;

		&_b {
			flex: 0 1 33.333%;
		}
	}

	&__block {
	}

	&__footer {
		background-color: #282f35;
		padding: 75px 0;
		text-align: center;
	}

	&__btn {
		display: inline-block;
		padding: 0px 60px;
		height: 50px;
		color: #ffffff;
		font-size: 14px;
		font-weight: 700;
		line-height: 48px;
		text-transform: uppercase;
		letter-spacing: 2.8px;
		border: 1px solid rgba(255, 255, 255, 0.5);
	}

	@media(max-width: 1100px) {
		&__body {
			flex-wrap: wrap;
		}
		&__column {
			flex: 0 1 50%;
			&_b {
			
			}
			&:first-child{
				flex: 1 1 100%;
			}
			&:last-child{
				flex: 1 1 100%;
			}
		}
		&__btn {
			padding: 0px 30px;
		}
		&__footer {
			padding: 60px 0;
		}
	}
}
.block-shop {
	height: 100%;

	&__row {
		@include flexbox;

	}

	&__column {
		flex: 0 1 50%;
	}

	&__item {
		height: auto;
		padding: 0 0 50% 0;	

		&_b {
			padding: 0 0 200.5% 0;
		}
		&_l {
			padding: 0 0 100% 0;
		}
	}
}

//=================================================================================

.subscribe {

	&__body {
		padding: 110px 0;
		max-width: 534px;
		margin: 0px auto;
		text-align: center;
	}

	&__logo {
		margin: 0 0 39px 0;
	}

	&__label {
		color: #848789;
		font-size: 24px;
		font-style: italic;
		line-height: 34px;
		margin: 0 0 35px 0;
	}

	&__form {
		@include flexbox;
	}

	&__input {
		flex: 1 0 auto;
		color: #929292;
		font-size: 20px;
		line-height: 24px;
		padding: 0 8px 0 0;
		.input {
			width: 100%;
			height: 69px;
			border: 1px solid #d3d7d9;
			background-color: #ffffff;
			padding: 0 28px;
			color: #929292;
			font-size: 20px;
			line-height: 24px;
			font-style: italic;
			&.focus {
				color: #333;
				font-style: normal;
			}
			&.err{
				border: 1px solid #ff0000;
			}		
		}

	}

	&__button {
		flex: 0 0 126px;

		
	}

	&__btn {
		width: 100%;
		height: 69px;
		background-color: #64c29e;
		color: #ffffff;
		font-size: 24px;
		font-weight: 300;
		line-height: 69px;
		text-transform: uppercase;
	}

	@media(max-width: 750px) {
		&__body {
			padding: 50px 0;
		}
	}
	@media(max-width: 500px) {
		&__form {
			display: block;
		}
		&__input {
			padding: 0 0 8px 0;
		}
	}
}




//</ОСНОВНОЙ БЛОК>====================================================================================================
